/*@import "lcdfont";*/

@font-face{
    font-family: 'lcdfont';
    src: url('./lcdfont/ds-digit-webfont.woff'); /* IE9 Compat Modes */
    src: url('./lcdfont/ds-digit-webfont.woff?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./lcdfont/ds-digit-webfont.woff') format('woff'), /* Modern Browsers */
    url('./lcdfont/ds-digit-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./lcdfont/ds-digit-webfont.woff') format('svg'); /* Legacy iOS */
}
html{
    height: 100%;
}
body {
    background: url('../image/bg.png') no-repeat;
    font-family: '微软雅黑';
    height: 100%;
    position: relative;
}
.wrap{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 96%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 620px;
}
.wrap .count{
    height: 7.5%;
}
.wrap .count>ul{
    display: flex;
    justify-content: space-between;
}
.wrap .count>ul>li{
    cursor: pointer;
    width: 30%;
    height: 52px;
    background: url("../image/qingdaobeizhan_29.png") no-repeat;
    background-size: 100% 100%;
}
.wrap .count>ul> :nth-child(1) :nth-child(1){
    font-size: 28px;
    line-height: 36px;
    color: red;
    font-family: lcdfont;
    text-align: center;
}
.wrap .count>ul> :nth-child(2) :nth-child(1),.wrap .count>ul> :nth-child(3) :nth-child(1){
    font-size: 28px;
    line-height: 36px;
    color: #fbb03b;
    font-family: lcdfont;
    text-align: center;
}
.wrap .count>ul> :nth-child(3) .top_yi{
    color: #e2e200;
}
.wrap .count>ul>li :nth-child(2){
    text-align: center;
    color: #fff;
    font-size: 12px;
    transform: scale(0.9);
}
.wrap .jian{
    height: 180px;
    /*margin-top: 20px;*/
    background: url('../image/qingdaobeizhan_33.png') no-repeat;
    background-size: 100% 100%;
}
.wrap .jian>p{
    font-size: 15px;
    padding: 10px 10px;
    color: #fff;
    float: left;
    position: relative;
}
.wrap .jian>p>img{
    position: absolute;
    top: -10px;
    left: -20px;
    width: 150%;
    height: 150%;
    opacity: 0.5;
}
.wrap .jian>.jiank{
    clear: left;
    width: 90%;
    height:128px;
    margin: 20px auto;
}

.wrap .jian>.jiank .swiper-button-next,.wrap .jian>.jiank .swiper-button-prev{
    background-size: 40px 26px;
    width: 15px;
}
.wrap .jian>.jiank .swiper-pagination-bullet{
    background: #999;
    opacity: 0.4;
}
.wrap .jian>.jiank .swiper-pagination-bullet-active{
    background: #007aff;
    opacity: 1;
}
/*.wrap .jian>.jiank>div{
    position: relative;
}
.wrap .jian>.jiank>div>p{
    position: absolute;
    width: 100%;
    background: rgba(10,10,10,.7);
    color: #fff;
    font-size: 12px;
}
.wrap .jian>.jiank> :nth-child(1){
    width: 59%;
    height: 100%;
}
.wrap .jian>.jiank> :nth-child(2){
    width: 40%;
    height: 100%;
}*/
.wrap .jian>.jiank img{
    /*width: 100%;
    height: 100%;*/
}
.wrap .huan{
    /*height: 11.6%;*/
    /*margin-top: 20px;*/
    height: 16%;
    background: url('../image/qingdaobeizhan_39.png') no-repeat;
    background-size: 100% 100%;
}
.wrap .huan>p{
    font-size: 15px;
    padding: 10px 10px;
    color: #fff;
    float: left;
    position: relative;
}
.wrap .huan>p>img{
    position: absolute;
    top: -10px;
    left: -20px;
    width: 150%;
    height: 150%;
    opacity: 0.5;
}
/*.wrap .huan>ul{
    display: flex;
    justify-content: space-around;
    clear: both;
}*/
.wrap .huan>ul>li{
    color: #fff;
    font-size: 12px;
    /*display: flex;
    justify-content: start;*/
    height: 30%;
    margin-top: 2px;
}
.wrap .huan>ul>li>p{
    line-height: 15px;
    /*padding-right: 5px;*/
    /*margin: 0 10px 0 5px;*/
}
.wrap .huan>ul>li>div{
    margin: 2px auto 4px 0;
    box-sizing: border-box;
}

.wrap .huan .ul_left{
    width: 95%;
    height: 70%;
    margin: 0 auto;
    clear: both;
    display: flex;
    justify-content: space-between;
}
.wrap .huan .ul_left li{
    width: 23%;
    height: 54%;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 0;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
}
.wrap .huan>ul>li>p{
    text-align: center;
}
.wrap .huan>ul>li span{
    display: inline-block;
    margin-left: 5px;
}
.wrap .huan>ul>li>.red_qiu{
    width: 7px;
    height: 7px;
    background: linear-gradient(to right, rgb(238,45,36),rgb(241,90,36),rgb(241,90,36));
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(238,45,36,.9);
}
.wrap .huan>ul>li>.yellow_qiu{
    width: 7px;
    height: 7px;
    background: linear-gradient(to right, rgb(247,154,30),rgb(252,238,30),rgb(252,238,30));
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(247,154,30,.9);
}
.wrap .huan>ul>li>.green_qiu{
    width: 7px;
    height: 7px;
    background: linear-gradient(to right, rgb(8,115,58),rgb(57,181,74),rgb(57,181,74));
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(8,115,58,.9);
}
.wrap .huan>ul>li>.gray_qiu{
    width: 7px;
    height: 7px;
    background: linear-gradient(to right, rgb(109, 109, 109), rgb(127, 127, 127),rgb(127, 127, 127));
    border-radius: 50%;
    box-shadow: 0 0 8px 1px rgba(109, 109, 109,.8);
}

.huan>div{
    float:right;
    display:flex;
    justify-content: space-around;
    width: 50%;
    height: 20px;
    margin-top: 20px;
    color: #e8e8e8;
}
.huan>div p{
    margin-right: 5px;
}
.red_qiu{
    display: inline-block;
    width: 7px;
    height: 7px;
    background: linear-gradient(to right, rgb(238,45,36),rgb(241,90,36),rgb(241,90,36));
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(238,45,36,.9);
}
.yellow_qiu{
    display: inline-block;
    width: 7px;
    height: 7px;
    background: linear-gradient(to right, rgb(247,154,30),rgb(252,238,30),rgb(252,238,30));
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(247,154,30,.9);
}
.green_qiu{
    display: inline-block;
    width: 7px;
    height: 7px;
    background: linear-gradient(to right, rgb(8,115,58),rgb(57,181,74),rgb(57,181,74));
    border-radius: 50%;
    box-shadow: 0 0 10px 1px rgba(8,115,58,.9);
}

.wrap .yi{
    height: 314px;
    /*margin-top: 20px;*/
    background: url('../image/qingdaobeizhan_42.png') no-repeat;
    background-size: 100% 100%;
}
.wrap .yi>p{
    font-size: 15px;
    padding: 14px 10px;
    color: #fff;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.wrap .yi>p>img{
    position: absolute;
    top: -12px;
    left: -20px;
    width: 150%;
    height: 145%;
    opacity: 0.4;
}
.wrap .yi>:nth-child(2),.wrap .yi>:nth-child(4){
    width: 100%;
    height: 130px;
    clear: both;
}
.wrap .yi>img{
    width: 100%;
    transform: translate(0,-6px);
}
#diqu,#riqi{
    background: url('../image/loading.gif') no-repeat center;
}
/*最下边文字消息*/
#message{
    position: relative;
    height: 125px;
    overflow: hidden;
    color: #eee;
    font-size: 12px;
}
#message .mask{
    position: absolute;
    z-index: 999;
    width: 96%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(20, 28, 57, 0.8), rgba(0, 0, 0, 0) 45%,rgba(0, 0, 0, 0) 65%,rgba(20, 28, 57, 0.8)); /* 标准的语法 */
}
#message li{
    /*position: relative;*/
    padding: 6px 1% 6px 3%;
    cursor: default;
    clear: both;
    overflow: hidden;
}
#message ul{
    transition: .5s;
}
.tooltip {
    position: absolute;
    display: block;
    z-index: 9900000;
    outline: none;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
#message li>:nth-child(1){
    float:left;
    display: inline-block;
    width: calc(100% - 140px);
    height: 13px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
#message li>:nth-child(2){
    float:right;
    display: inline-block;
    height: 13px;
    padding-right: 10px;
}

@keyframes rowup {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    3% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    8% {
        transform: translate3d(0, -25px, 0);
    }
    12% {
        transform: translate3d(0, -25px, 0);
    }

    18% {
        transform: translate3d(0, -50px, 0);
    }
    22% {
        transform: translate3d(0, -50px, 0);
    }

    28% {
        transform: translate3d(0, -75px, 0);
    }
    32% {
        transform: translate3d(0, -75px, 0);
    }

    38% {
        transform: translate3d(0, -100px, 0);
    }
    42% {
        transform: translate3d(0, -100px, 0);
    }

    48% {
        transform: translate3d(0, -125px, 0);
    }
    52% {
        transform: translate3d(0, -125px, 0);
    }

    58% {
        transform: translate3d(0, -150px, 0);
    }
    62% {
        transform: translate3d(0, -150px, 0);
    }

    68% {
        transform: translate3d(0, -175px, 0);
    }
    72% {
        transform: translate3d(0, -175px, 0);
    }

    78% {
        transform: translate3d(0, -200px, 0);
    }
    82% {
        transform: translate3d(0, -200px, 0);
    }

    88% {
        transform: translate3d(0, -225px, 0);
    }
    92% {
        transform: translate3d(0, -225px, 0);
    }

    98% {
        -webkit-transform: translate3d(0, -250px, 0);
        transform: translate3d(0, -250px, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -250px, 0);
        transform: translate3d(0, -250px, 0);
    }
}

.rowup{
    -webkit-animation: 10s rowup linear infinite normal;
    animation: 10s rowup linear infinite normal;
}
#message:hover .rowup{
    animation-play-state:paused;
}








